<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <div class="container">
      <%= yield %>
    </div>
    <div class="container">
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
